<!DOCTYPE html>
<html lang="en">

<head>

    <title>Headlines-Home</title>
    <link rel="stylesheet" href="/static/style.css">


</head>

<body class="index-body">
    <h1 class="name">Headline Hunter</h1>
    <div class="cg">
        <h1 class="cg1">category</h1>
        <div class="category-cards">
            <div class="category-card">
                <a href="movie.html">Movie</a>
            </div>
            <div class="category-card">
                <a href="game.html">Game</a>
            </div>
            <div class="category-card">
                <a href="tech.html">Tech</a>
            </div>
            <div class="category-card">
                <a href="economy.html">Economy</a>
            </div>
            <div class="category-card">
                <a href="cricket.html">Cricket</a>
            </div>
        </div>
    </div>
    <div class="cg">
        <h1 class="cg1">Top news sites</h1>
        <div class="category-cards">
            <div class="category-card">
                <a href="bbc.html">BBC</a>
            </div>
            <div class="category-card">
                <a href="cnn.html">CNN</a>
            </div>
            <div class="category-card">
                <a href="bloomberg.html">Bloomberg</a>
            </div>
            <div class="category-card">
                <a href="wallstreet.html">Wall Street Journal</a>
            </div>
            <div class="category-card">
                <a href="reuters.html">Reuters</a>
            </div>
        </div>
    </div>
</body>

</html>